header {
  margin-bottom: 25px; }
  @media (max-width: 990px) {
    header {
      -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
      margin-bottom: 15px; } }
  header .container {
    max-width: 1330px; }

.lang-mob {
  display: none; }
  @media (max-width: 990px) {
    .lang-mob {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      position: relative;
      padding: 5px 0; } }
  .lang-mob::before {
    content: '';
    height: 1px;
    width: 300%;
    background: #D0D0D0;
    left: -100%;
    bottom: 0;
    position: absolute; }
  .lang-mob .header-lang-box {
    margin: 0;
    left: 5px;
    z-index: 999; }

.header-container {
  display: grid;
  grid-template-columns: 6fr 2fr 6fr;
  grid-gap: 10px;
  padding: 25px 0; }
  @media (max-width: 1200px) {
    .header-container {
      grid-gap: 20px; } }
  @media (max-width: 990px) {
    .header-container {
      grid-gap: 10px;
      padding: 10px 0; } }

.header-logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .header-logo-box img {
      height: 19px; } }

.header-lang-help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.header-lang-box {
  cursor: pointer;
  border: .5px solid transparent;
  border-radius: 2px;
  padding: 5px;
  left: -5px;
  margin-right: 25px;
  position: relative;
  width: 40px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .header-lang-box svg {
    width: 20px;
    height: 13px; }
  .header-lang-box::after {
    content: '';
    background: url(../img/icon/arr-lang.svg);
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 4px;
    top: 8.5px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.lang-hide {
  display: none;
  position: absolute;
  padding: 0 5px;
  left: -1px;
  width: 42px; }

@media (max-width: 990px) {
  .header-help-box {
    height: 21px;
    width: 21px; } }

.header-help-box .help-text {
  position: relative; }
  .header-help-box .help-text span {
    color: #000;
    font: normal 1rem 'Open Sans', sans-serif; }
    @media (max-width: 990px) {
      .header-help-box .help-text span {
        display: none; } }
  .header-help-box .help-text::after {
    content: '';
    background: url(../img/icon/question.svg);
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
    position: absolute;
    right: -30px;
    top: 2px; }
    @media (max-width: 990px) {
      .header-help-box .help-text::after {
        top: 0;
        right: -21px; } }

.active-lang {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #F4F4F4; }
  .active-lang .lang-hide {
    background: #F4F4F4; }
  .active-lang::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

@media (max-width: 990px) {
  .desk-element {
    display: none; } }

.header-search-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header-search-box {
  position: relative;
  width: 205px;
  margin-right: 50px; }
  @media (max-width: 990px) {
    .header-search-box {
      display: none; } }
  .header-search-box::after {
    content: '';
    background: url(../img/icon/search.svg);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 10px; }
  .header-search-box input {
    padding: 8px 12px;
    border: 1px solid #D0D0D0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    color: #000;
    font: normal .9rem 'Open Sans', sans-serif; }

.search-call {
  display: none; }
  @media (max-width: 990px) {
    .search-call {
      display: block;
      margin-right: 30px; } }
  @media (max-width: 768px) {
    .search-call {
      margin-right: 20px; } }

.call-nav {
  display: none; }
  @media (max-width: 990px) {
    .call-nav {
      display: block;
      margin-right: 15px; } }

.header-panel-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-panel-box .panel-user-box {
    margin-right: 50px; }

.bug-call {
  position: relative; }
  .bug-call svg {
    position: relative;
    z-index: 2s; }
    @media (max-width: 576px) {
      .bug-call svg {
        height: 22px;
        width: 22px; } }
  .bug-call .coll {
    position: absolute;
    font: 600 .65rem 'Open Sans', sans-serif;
    left: 10px;
    top: -3px; }
    @media (max-width: 576px) {
      .bug-call .coll {
        left: 8px;
        top: 1.5px;
        font: 600 .6rem 'Open Sans', sans-serif; } }
    .bug-call .coll::before {
      z-index: -2;
      display: block;
      position: absolute;
      background: #FFE512;
      border-radius: 2px;
      -webkit-transform: rotate(-33.57deg);
          -ms-transform: rotate(-33.57deg);
              transform: rotate(-33.57deg);
      content: '';
      width: 38px;
      height: 15px;
      bottom: 0px;
      left: -15px; }
      @media (max-width: 576px) {
        .bug-call .coll::before {
          width: 28px;
          height: 10px;
          left: -11px;
          bottom: 2px; } }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  @media (max-width: 990px) {
    nav {
      display: none; } }
  nav::before {
    content: '';
    height: 1px;
    width: 300%;
    background: #D0D0D0;
    left: -100%;
    top: 0;
    position: absolute; }
  nav::after {
    content: '';
    height: 1px;
    width: 300%;
    background: #D0D0D0;
    left: -100%;
    bottom: 0;
    position: absolute; }
  nav .menu-desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 180px;
    padding: 20px;
    position: relative;
    background: #FFE512;
    cursor: pointer; }
    nav .menu-desktop .menu-text {
      color: #000;
      font: 500 1rem 'Open Sans', sans-serif; }
    nav .menu-desktop .menu-1 {
      padding: 5px 0 5px 20px;
      position: absolute;
      top: 100%;
      width: 200px;
      left: 0;
      background: #fff;
      z-index: 999;
      display: none;
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); }
      nav .menu-desktop .menu-1 li {
        padding: 5px 0;
        display: block;
        cursor: pointer; }
        nav .menu-desktop .menu-1 li a {
          color: #000;
          position: relative;
          display: inline-block;
          font: 500 1rem 'Open Sans', sans-serif; }
          nav .menu-desktop .menu-1 li a:hover::before {
            opacity: 1; }
          nav .menu-desktop .menu-1 li a::before {
            content: '';
            background: #FFE512;
            display: block;
            height: 1px;
            width: 100%;
            bottom: -2px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            position: absolute;
            opacity: 0; }
      nav .menu-desktop .menu-1 .sub-menu-call:hover .sub-menu {
        opacity: 1;
        pointer-events: auto; }
      nav .menu-desktop .menu-1 .sub-menu-call a {
        position: relative; }
        nav .menu-desktop .menu-1 .sub-menu-call a::after {
          content: '';
          background: url(../img/icon/arr-lang.svg);
          background-size: 14px 14px;
          width: 14px;
          height: 14px;
          position: absolute;
          pointer-events: none;
          left: 148px;
          top: 6px;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      nav .menu-desktop .menu-1 .sub-menu-call .sub-menu {
        opacity: 0;
        pointer-events: none;
        padding: 5px 20px;
        left: 100%;
        position: absolute;
        background: #fff;
        top: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        nav .menu-desktop .menu-1 .sub-menu-call .sub-menu li {
          padding: 5px 0; }
          nav .menu-desktop .menu-1 .sub-menu-call .sub-menu li a {
            white-space: nowrap; }
            nav .menu-desktop .menu-1 .sub-menu-call .sub-menu li a::after {
              display: none; }
  nav .menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav .menu-2 li {
      padding: 0 37px; }
      @media (max-width: 1280px) {
        nav .menu-2 li {
          padding: 0 30px; } }
      @media (max-width: 1150px) {
        nav .menu-2 li {
          padding: 0 20px; } }
      nav .menu-2 li a {
        color: #000;
        font: 600 1rem 'Open Sans', sans-serif;
        position: relative; }
        nav .menu-2 li a:hover::after {
          opacity: 1; }
        nav .menu-2 li a::after {
          content: '';
          background: #FFE512;
          width: 40px;
          height: 10px;
          position: absolute;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          left: -10px;
          top: 10px;
          z-index: -2;
          opacity: 0;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }

.main-screen-slider .slick-list {
  width: 105%;
  left: -2.5%; }
  @media (max-width: 1400px) {
    .main-screen-slider .slick-list {
      width: 101.2%;
      left: -0.5%; } }
  @media (max-width: 1280px) {
    .main-screen-slider .slick-list {
      width: 100%;
      left: 0%; } }
  @media (max-width: 576px) {
    .main-screen-slider .slick-list {
      width: 114%;
      left: -7%; } }

.main-screen-slider img {
  max-width: 100%;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 576px) {
    .main-screen-slider img {
      height: 200px; } }
  @media (max-width: 360px) {
    .main-screen-slider img {
      height: 180px; } }

.main-screen-slider .slick-prev:before {
  content: url(../img/icon/left.svg); }

.main-screen-slider .slick-next:before {
  content: url(../img/icon/right.svg); }

.main-screen-slider .slick-prev {
  left: -60px; }
  @media (max-width: 1280px) {
    .main-screen-slider .slick-prev {
      left: -20px; } }
  @media (max-width: 990px) {
    .main-screen-slider .slick-prev {
      opacity: 0; } }

.main-screen-slider .slick-next {
  right: -65px; }
  @media (max-width: 1280px) {
    .main-screen-slider .slick-next {
      right: -21px; } }
  @media (max-width: 990px) {
    .main-screen-slider .slick-next {
      opacity: 0; } }

.main-screen-slider .slick-prev:before, .main-screen-slider .slick-next:before {
  opacity: 1; }

.main-screen-slider .slick-dots {
  bottom: 0; }

.main-screen-slider .slick-dots li button:before {
  content: '';
  height: 1px;
  width: 20px;
  background: #AAAAAA;
  opacity: 1; }

.main-screen-slider .slick-dots .slick-active button:before {
  width: 25px;
  left: -3px;
  background: #ffe512; }

.home-items-title {
  text-align: center;
  text-transform: uppercase;
  font: 600 1.875rem 'Oswald', sans-serif; }
  @media (max-width: 990px) {
    .home-items-title {
      font: 600 1.125rem 'Oswald', sans-serif;
      margin-bottom: 5px; } }

.home-item-slider {
  margin-bottom: 35px; }
  .home-item-slider .slick-dots {
    bottom: -40px; }
  .home-item-slider .slick-dots li button:before {
    content: '';
    height: 1px;
    width: 20px;
    background: #AAAAAA;
    opacity: 1; }
  .home-item-slider .slick-dots .slick-active button:before {
    width: 25px;
    left: -3px;
    background: #ffe512; }

.home-items-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 576px) {
    .home-items-btn {
      margin-top: 40px; } }
  .home-items-btn a {
    background: #242324;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #FFE512;
    text-transform: uppercase;
    font: bold .95rem 'Oswald', sans-serif;
    padding: 10px 35px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .home-items-btn a:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }

.home-items-text {
  text-align: center;
  font: 400 1.5rem 'Oswald', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
  margin-bottom: 40px; }
  @media (max-width: 990px) {
    .home-items-text {
      font: 400 .95rem 'Oswald', sans-serif;
      margin-bottom: 25px; } }
  .home-items-text span {
    background: #FFE512;
    display: block;
    width: 86px;
    height: 15px;
    position: absolute;
    z-index: 3;
    bottom: -2px;
    margin-left: -95px; }
    @media (max-width: 990px) {
      .home-items-text span {
        width: 58px;
        height: 10px;
        margin-left: -60px; } }
  .home-items-text strong {
    position: relative;
    z-index: 9;
    display: block;
    margin-right: 5px; }

.home-items-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px; }
  @media (max-width: 576px) {
    .home-items-wrap {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; } }

.home-items-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .home-items-box:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .home-items-box:hover .shose-hide {
    opacity: 1; }
  .home-items-box:hover .shose-active {
    opacity: 0; }
  .home-items-box .heart-box {
    position: relative;
    top: 5px;
    cursor: pointer; }
    .home-items-box .heart-box svg {
      height: 20px;
      width: 20px; }
    .home-items-box .heart-box .heart-active {
      display: none; }
    .home-items-box .heart-box .heart-disabled {
      display: block; }
  .home-items-box .heart-click .heart-active {
    display: block; }
  .home-items-box .heart-click .heart-disabled {
    display: none; }
  .home-items-box .hide-hover-item {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    top: 0;
    z-index: 9; }
    .home-items-box .hide-hover-item svg {
      margin-right: 10px; }
  .home-items-box img {
    margin-bottom: 30px;
    width: 175px;
    height: 155px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-top: 10px; }
    @media (max-width: 576px) {
      .home-items-box img {
        margin-bottom: 20px;
        width: 120px;
        height: 100px;
        margin-top: 0; } }
  .home-items-box .shose-active {
    opacity: 1; }
  .home-items-box .shose-hide {
    position: absolute;
    opacity: 0;
    top: 0; }
  .home-items-box .brend {
    color: #000;
    position: relative;
    font: normal .75rem 'Open Sans', sans-serif; }
    .home-items-box .brend::before {
      content: '';
      height: 1px;
      width: 125px;
      background: #D0D0D0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: -25px;
      top: -10px; }
  .home-items-box .name {
    color: #000;
    font: normal 1rem 'Open Sans', sans-serif;
    margin-bottom: 3px; }
    @media (max-width: 576px) {
      .home-items-box .name {
        font-size: .87rem; } }
  .home-items-box .price {
    color: #000;
    font: normal 1.125rem 'Open Sans', sans-serif; }

.this-about {
  position: relative; }
  @media (max-width: 768px) {
    .this-about {
      overflow-x: scroll; } }
  .this-about ::-webkit-scrollbar {
    display: none; }
  @media (max-width: 768px) {
    .this-about::before {
      content: '';
      background: #F3F3F3;
      height: 100%;
      position: absolute;
      left: -10%;
      width: 650px;
      display: block; } }
  .this-about .container {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 35px; }
    @media (max-width: 768px) {
      .this-about .container {
        padding: 20px 0; } }
  .this-about .this-about-title {
    font: 600 2.8rem 'Oswald', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 9; }
    @media (max-width: 990px) {
      .this-about .this-about-title {
        font: 600 1.56rem 'Oswald', sans-serif;
        margin-bottom: 25px; } }

.this-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  position: relative;
  z-index: 9; }
  @media (max-width: 990px) {
    .this-about-container {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 768px) {
    .this-about-container {
      grid-template-columns: 180px 180px 180px;
      background: #F3F3F3;
      grid-gap: 15px; } }
  .this-about-container .this-about-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #F3F3F3; }
    @media (max-width: 768px) {
      .this-about-container .this-about-box {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .this-about-container svg {
    height: 80px;
    margin-bottom: 30px; }
    @media (max-width: 990px) {
      .this-about-container svg {
        height: 75px;
        width: 75px;
        margin-bottom: 20px; } }
  .this-about-container img {
    height: 80px;
    margin-bottom: 30px; }
    @media (max-width: 990px) {
      .this-about-container img {
        height: 75px;
        width: 75px;
        margin-bottom: 20px; } }
  .this-about-container .this-title {
    margin-bottom: 10px;
    font: 600 1.2rem 'Oswald', sans-serif;
    text-align: center; }
    @media (max-width: 990px) {
      .this-about-container .this-title {
        font-size: 1.125rem; } }
    @media (max-width: 768px) {
      .this-about-container .this-title {
        text-align: left; } }
  .this-about-container .this-text {
    font: 400 .95rem/22px 'Open Sans', sans-serif;
    text-align: center; }
    @media (max-width: 990px) {
      .this-about-container .this-text {
        font: 400 .75rem/18px 'Open Sans', sans-serif; } }
    @media (max-width: 768px) {
      .this-about-container .this-text {
        text-align: left; } }

.home-instagram .container {
  max-width: 990px; }

.home-instagram .slick-slider {
  margin: 0 10px; }
  @media (max-width: 990px) {
    .home-instagram .slick-slider {
      margin: 0; } }

.home-instagram .slick-prev:before {
  content: url(../img/icon/left.svg); }

.home-instagram .slick-next:before {
  content: url(../img/icon/right.svg); }

.home-instagram .slick-prev {
  left: -40px; }
  @media (max-width: 768px) {
    .home-instagram .slick-prev {
      opacity: 0; } }

.home-instagram .slick-next {
  right: -40px; }
  @media (max-width: 768px) {
    .home-instagram .slick-next {
      opacity: 0; } }

.home-instagram .slick-prev:before, .home-instagram .slick-next:before {
  opacity: 1; }

.home-insta-title {
  padding: 5px 20px;
  background: #242324;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font: 600 1.875rem 'Oswald', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0 auto;
  width: 230px;
  margin-bottom: 20px;
  position: relative; }
  @media (max-width: 990px) {
    .home-insta-title {
      font-size: 1.125rem; } }
  @media (max-width: 420px) {
    .home-insta-title {
      width: 97%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  .home-insta-title svg {
    position: relative;
    left: 8px;
    top: 3px; }
    @media (max-width: 990px) {
      .home-insta-title svg {
        top: 0; } }

.home-inst-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 10px; }
  @media (max-width: 576px) {
    .home-inst-box {
      grid-template-columns: 1fr 1fr;
      padding: 0 5px;
      grid-gap: 10px; } }
  .home-inst-box a {
    position: relative; }
    .home-inst-box a:hover .hide-insta {
      opacity: 1; }
  .home-inst-box .hide-insta {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 576px) {
      .home-inst-box .hide-insta {
        display: none; } }
    .home-inst-box .hide-insta p {
      color: #fff;
      font: normal .95rem/18px 'Open Sans', sans-serif;
      margin: 0 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .home-inst-box .hide-insta p img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        position: relative;
        top: 2px; }
      .home-inst-box .hide-insta p svg {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        position: relative;
        top: 2px; }
  .home-inst-box img {
    max-width: 100%;
    height: auto; }

.home-about {
  background: #F3F3F3; }

.home-about-container {
  padding-top: 35px;
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 990px) {
    .home-about-container {
      padding-top: 15px; } }
  .home-about-container .home-about-title {
    color: #000;
    font: 600 1.875rem 'Oswald', sans-serif;
    margin-bottom: 20px;
    text-align: center; }
    @media (max-width: 990px) {
      .home-about-container .home-about-title {
        font: 600 1.125rem 'Oswald', sans-serif; } }
    @media (max-width: 576px) {
      .home-about-container .home-about-title {
        text-align: left; } }
  .home-about-container .home-text {
    font: normal .87rem/18px 'Open Sans', sans-serif;
    max-width: 700px;
    padding-bottom: 30px; }
    @media (max-width: 576px) {
      .home-about-container .home-text {
        font-size: .75rem;
        padding: 0;
        height: 270px; } }
  .home-about-container .max {
    height: 100%; }

.home-about-wrap {
  min-height: 450px;
  position: relative; }
  @media (max-width: 990px) {
    .home-about-wrap {
      min-height: auto;
      overflow: hidden; } }
  .home-about-wrap img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (max-width: 990px) {
      .home-about-wrap img {
        display: none; } }

.show-about-text {
  padding: 20px 0 25px 0;
  display: none; }
  @media (max-width: 576px) {
    .show-about-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; } }
  .show-about-text::before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(243, 243, 243, 0.4)), color-stop(55%, #F3F3F3));
    background: -o-linear-gradient(top, rgba(243, 243, 243, 0.4) 10%, #F3F3F3 55%);
    background: linear-gradient(to bottom, rgba(243, 243, 243, 0.4) 10%, #F3F3F3 55%);
    position: absolute;
    left: -10%;
    height: 110px;
    width: 120%;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 1; }
  .show-about-text::after {
    content: '';
    background: #FFE512;
    height: 10px;
    width: 45px;
    position: absolute;
    z-index: 8;
    margin-top: 6px; }
  .show-about-text p {
    display: inline-block;
    color: #000;
    position: relative;
    z-index: 9;
    font: normal .95rem/18px 'Open Sans', sans-serif; }
  .show-about-text svg {
    position: relative;
    left: 5px;
    top: 2px;
    position: relative;
    z-index: 9;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.active-show {
  position: relative; }
  .active-show svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .active-show::before {
    opacity: 0; }

footer {
  background: #242324; }
  footer .container {
    padding: 30px 0 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 576px) {
      footer .container {
        padding: 15px 0; } }

.footer-logo {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 576px) {
    .footer-logo {
      -webkit-box-ordinal-group: -1;
      -webkit-order: -2;
          -ms-flex-order: -2;
              order: -2;
      margin-bottom: 15px; } }
  .footer-logo img {
    max-width: 100%;
    height: auto; }
    @media (max-width: 576px) {
      .footer-logo img {
        display: none; } }
  .footer-logo .mob-logo {
    display: none; }
    @media (max-width: 576px) {
      .footer-logo .mob-logo {
        display: block;
        color: #FFF;
        height: auto;
        font: 600 2.1875rem 'Oswald', sans-serif; } }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 25px; }
  @media (max-width: 990px) {
    .footer-container {
      grid-template-columns: 1fr 1fr;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 576px) {
    .footer-container {
      margin-bottom: 35px;
      grid-template-columns: 1fr; } }
  @media (max-width: 990px) {
    .footer-container .desk-menu:nth-child(2) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  @media (max-width: 576px) {
    .footer-container .desk-menu:nth-child(2) {
      display: none; } }
  @media (max-width: 990px) {
    .footer-container .desk-menu:nth-child(4) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; } }
  @media (max-width: 576px) {
    .footer-container .desk-menu:nth-child(4) {
      display: none; } }
  @media (max-width: 576px) {
    .footer-container .desk-menu {
      display: none; } }
  .footer-container li {
    margin-bottom: 15px; }
  .footer-container li:last-child {
    margin: 0; }
  .footer-container p {
    color: #fff;
    font: normal 1rem 'Open Sans', sans-serif;
    position: relative;
    display: inline-block; }
    .footer-container p::before {
      content: '';
      height: 2px;
      display: inline-block;
      width: 100%;
      background: #FFE512;
      position: absolute;
      left: 0;
      bottom: -4px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .footer-container a {
    display: inline-block;
    color: #fff;
    font: normal 1rem 'Open Sans', sans-serif;
    position: relative;
    white-space: nowrap;
    opacity: .8;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .footer-container a:hover {
      opacity: 1; }
    @media (max-width: 990px) {
      .footer-container a {
        white-space: normal;
        opacity: 1; } }
    @media (max-width: 576px) {
      .footer-container a {
        font-size: .87rem; } }
    @media (max-width: 360px) {
      .footer-container a {
        font-size: .75rem; } }
  .footer-container .hide-menu {
    display: none; }
    @media (max-width: 576px) {
      .footer-container .hide-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 55px;
        max-width: 420px;
        margin: 0 auto; } }
    .footer-container .hide-menu li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
    .footer-container .hide-menu li:nth-child(2) {
      padding-left: 10px; }
    .footer-container .hide-menu li:nth-child(4) {
      padding-left: 10px; }

.footer-social-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }
  @media (max-width: 576px) {
    .footer-social-wrap {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }
  .footer-social-wrap a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px; }
    @media (max-width: 576px) {
      .footer-social-wrap a {
        margin: 0 17.5px; } }
    .footer-social-wrap a svg {
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .footer-social-wrap a svg:hover {
        -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
                transform: scale(1.25); }
  @media (max-width: 576px) {
    .footer-social-wrap a:first-child svg {
      height: 25px;
      width: 25px; } }
  @media (max-width: 576px) {
    .footer-social-wrap a:nth-child(2) svg {
      width: 12px;
      height: 25px; } }
  @media (max-width: 576px) {
    .footer-social-wrap a:nth-child(3) svg {
      width: 26px;
      height: 18px; } }
  @media (max-width: 576px) {
    .footer-social-wrap a:last-child svg {
      width: 25px;
      height: 15px; } }

.hide-politika {
  font: normal .87rem 'Open Sans', sans-serif;
  text-align: center;
  color: #FFF;
  display: none;
  margin-bottom: 5px;
  position: relative; }
  @media (max-width: 576px) {
    .hide-politika {
      display: block; } }
  @media (max-width: 360px) {
    .hide-politika {
      font-size: .75rem; } }
  .hide-politika::before {
    content: '';
    height: 1px;
    width: 120%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: -10%;
    top: -10px;
    background: #D0D0D0; }

.copyrigt {
  font: normal 1rem 'Open Sans', sans-serif;
  text-align: center;
  color: #FFF;
  opacity: .6; }
  @media (max-width: 576px) {
    .copyrigt {
      font-size: .87rem; } }
  @media (max-width: 360px) {
    .copyrigt {
      font-size: .75rem; } }

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1260px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.padding {
  padding: 0 40px; }
  @media (max-width: 1280px) {
    .padding {
      padding: 0 30px; } }
  @media (max-width: 1100px) {
    .padding {
      padding: 0 20px; } }

.margin {
  margin-bottom: 45px; }
  @media (max-width: 576px) {
    .margin {
      margin-bottom: 30px; } }

button,
input,
a {
  outline: none; }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style-type: none;
  padding: 0; }

.slick-slide {
  outline: none; }

textarea {
  resize: none; }

.hidden {
  position: absolute;
  opacity: 1; }
