.home-instagram {
    .container {
        max-width: 990px;
    }
    .slick-slider {
        margin: 0 10px;
        @media (max-width: 990px) {
            margin: 0;
        }
    }
    .slick-prev:before{
        content: url(../img/icon/left.svg);
    }
    .slick-next:before{
        content: url(../img/icon/right.svg);
    }
    .slick-prev {
        left: -40px;
        @media (max-width: 768px) {
            opacity: 0;
        }
    }
    .slick-next {
        right: -40px;
        @media (max-width: 768px) {
            opacity: 0;
        }
    }
    .slick-prev:before, .slick-next:before {
        opacity: 1;
    }
}

.home-insta-title {
    padding: 5px 20px;
    background: #242324;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .18);
    border-radius: 4px;
    font: 600 1.875rem 'Oswald', sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    width: 230px;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 990px) {
        font-size: 1.125rem;
    }
    @media (max-width: 420px) {
        width: 97%;
        box-sizing: border-box;
    }
    svg {
        position: relative;
        left: 8px;
        top: 3px;
        @media (max-width: 990px) {
            top: 0;
        }
    }
}

.home-inst-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 10px;
    @media (max-width: 576px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 5px;
        grid-gap: 10px;
    }
    a {
        position: relative;
        &:hover {
            .hide-insta {
                opacity: 1;
            }  
        }
    }
    .hide-insta {
        transition: .3s;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0,0,0,.7);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 576px) {
            display: none;
        }
        p {
            color: #fff;
            font: normal .95rem/18px 'Open Sans', sans-serif;
            margin: 0 5px;
            display: flex;
            img {
                height: 15px;
                width: 15px;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
            svg {
                height: 15px;
                width: 15px;
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
        }
    }
    img {
        max-width: 100%;
        height: auto; 
    }
}